<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstargramCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InstargramCreator.Properties.Settings>
            <setting name="txtlicenkey" serializeAs="String">
                <value />
            </setting>
            <setting name="txtpath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtUser" serializeAs="String">
                <value />
            </setting>
            <setting name="radioNoProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioHTTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioSock5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFileProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="txtUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="radioUrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioFileProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtImap" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPortEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="txtEmaifile" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberRun" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="NumberThreads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="radioPasswordCustomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtPasswordRandom" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="txtPasswordCustomize" serializeAs="String">
                <value />
            </setting>
            <setting name="radioFullnameRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioFullnameCustomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFullname" serializeAs="String">
                <value />
            </setting>
            <setting name="radioUserRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioUserCustomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAvatar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtAvatar" serializeAs="String">
                <value />
            </setting>
            <setting name="cbBio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtBio" serializeAs="String">
                <value />
            </setting>
            <setting name="radioPasswordRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtPost" serializeAs="String">
                <value />
            </setting>
            <setting name="cbPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbCatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioRandomVN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtLastName" serializeAs="String">
                <value />
            </setting>
        </InstargramCreator.Properties.Settings>
    </userSettings>
</configuration>